In [1]:
########insert a row on given location
import pandas as pd

In [2]:
df = pd.DataFrame({'Date':['10/2/2011', '12/2/2011', '13/2/2011', '14/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  12/2/2011   Poetry   5000
2  13/2/2011  Theatre  15000
3  14/2/2011   Comedy   2000

In [5]:
row_no=3
top_row=df[0:row_no]
print(top_row)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  12/2/2011   Poetry   5000
2  13/2/2011  Theatre  15000

In [6]:
next_row=df[row_no:]
print(next_row)

        Date   Event  Cost
3  14/2/2011  Comedy  2000

In [9]:
top_row.loc[row_no]=['11/2/2011','Dance',1000]

In [10]:
df_re=pd.concat([top_row,next_row])
print(df_re)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  12/2/2011   Poetry   5000
2  13/2/2011  Theatre  15000
3  11/2/2011    Dance   1000
3  14/2/2011   Comedy   2000

In [12]:
df_re.index = [*range(df_re.shape[0])]
print(df_re)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  12/2/2011   Poetry   5000
2  13/2/2011  Theatre  15000
3  11/2/2011    Dance   1000
4  14/2/2011   Comedy   2000